# Core functionality - changes here should be rare!
/src/app.py                   @HaraldJoerg
/src/backend/database.py      @HaraldJoerg
/src/backend/routers/auth.py  @HaraldJoerg

# The frontend will need refactored soon to be more object oriented.
/src/static/   @HaraldJoerg
